<div class="border border-dark rounded p-3">
  <% if comment.user.present? %>
    <div class="user_avatar_box comment float-end">
      <a href="<%= user_path(comment.user) %>">
        <img src="<%= image_tag user_avatar(comment.user)%>" class="img-fluid img-thumbnail rounded-circle">
        <p class="text-center"><%= comment.user.name %></p>
      </a>
    </div>
  <% else %>
    <em><strong><% comment.user_name %></strong></em>
  <% end %>

  <p><%= comment.body %></p>

    <p><small><%= l(comment.created_at, format: :short) %></small></p>
    <% if current_user_can_edit?(comment) %>
      <%= button_to I18n.t("form.comment.destroy"), event_comment_path(comment.event, comment), method: :delete, class: "btn btn-danger",
        form: { data: { turbo_confirm: I18n.t("actions.confirmation") }} %>
    <% end %>
  </p>
</div>
