<%= form_for [@event, comment], data: {turbo: false} do |form| %>
  <%= render "devise/shared/error_messages", resource: comment %>

  <div class="form-group">
    <%= form.label :body, I18n.t("form.comment.body") %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= form.label :user_name, I18n.t("form.comment.name") %>
      <%= form.text_field :user_name, class: "form-control" %>
    </div>
  <% end %>

  <%= form.submit I18n.t("form.comment.submit"), class: "btn btn-warning mt-2 mb-3" %>
<% end %>
