<div class="text-center">
  <h1><%= @user.name %></h1>
  <div class="d-flex justify-content-center my-4">
    <div class="user_avatar_box d-flex justify-content-center">
      <%= image_tag @user.avatar %>
    </div>
  </div>

  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to I18n.t("links.edit_user_registration"), edit_user_registration_path(@user), class: "btn btn-secondary" %>
    </p>
  <% end %>

  <div class="col-mb-12">
    <% if @user.events.any? %>
      <div class="row buffer-bottom mb-4">
        <% if @user.events.where(datetime: Time.now..).any? %>
          <p class="bg-success text-warning p-3"><%= I18n.t("views.user.show.waiting_for") %></p>
          <% @user.events.where(datetime: Time.now..).each do |event| %>
            <%= render "events/event", event: event %>
          <% end %>

        <% else %>
          <p class=" bg-secondary text-warning p-3"><%= I18n.t("views.user.show.not_waiting") %></p>
        <% end %>
      </div>

      <div class="row buffer-bottom">
        <% if @user.events.where(datetime: ..Time.now).any? %>
          <p class=" bg-secondary text-warning p-3"><%= I18n.t("views.user.show.gone") %></p>
          <% @user.events.where(datetime: ..Time.now).each do |event| %>
            <%= render "events/event", event: event %>
          <% end %>
          
        <% else %>
          <p class="bg-secondary text-warning p-3"><%= I18n.t("views.user.show.while_not_events.t1") %></p>
        <% end %>
      </div>
      <% else %>
        
        <% if current_user == @user %>
          <p class="bg-secondary text-warning p-3">
            <%= I18n.t("views.user.show.while_not_events.t2") %><br>
            <%= I18n.t("views.user.show.while_not_events.t3") %></p>
          <p><%= link_to I18n.t("links.new_event"), new_event_path %></p>
        <% else %>
          <p class="bg-secondary text-warning p-3"><%= I18n.t("views.user.show.while_not_events.t4") %></p>
        <% end %>
    <% end %>
  </div>
</div>
