<h1 class="text-center mb-5"><%= I18n.t("titles.event.edit") %></h1>

<%= render "form", event: @event %>

<br>

<div>
  <%= button_to I18n.t("form.event.destroy"), event_path(@event), method: :delete, class: "btn btn-danger",
  form: { data: { turbo_confirm: I18n.t("actions.confirmation") }} %>
  <%= link_to I18n.t("links.event"), @event %> |
  <%= link_to I18n.t("links.events"), events_path %>
</div>
