<div class="event">
  <div class="col-md-12">
    <div class="col-md-6">
      <h1 class="text-center mb-4"><%= @event.title %></h1>
      <div class="main_picture_box"><%= image_tag main_photo(@event) %></div>
      <h3 class="mb-3">
        <small>
          <%= I18n.t("views.event.show.where") %>
          <%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}" %>
        </small>
      </h3>
      <h3 class="mb-2"><small><%= I18n.t("views.event.show.about") %></small></h3>
      <p class="mb-3"><%= @event.description %></p>
      <h3><small><%= l(@event.datetime, format: :short) %></small></h3>
    </div>

    <%= javascript_include_tag 'map' %>
    <div id="map" data-address="<%= @event.address %>" class="col-md-6" style="height: 400px"></div>

    <div>
      <% if current_user_can_edit?(@event) %>
        <%= link_to I18n.t("links.edit_event"), edit_event_path(@event), class:"btn btn-warning mb-3" %>
      <% end %>
      <%= link_to I18n.t("links.events"), events_path %>
    </div>

    <div class="row mt-5">
      <div class="col-md-8">

        <h5><%= I18n.t("views.event.show.pictures") %></h5>
        <%= render partial: "pictures/form", locals: {picture: @new_picture || @event.pictures.build} %>
        <%= render partial: "pictures/picture", collection: @event.pictures.except(@new_picture) %>

        <h5><%= I18n.t("views.event.show.comments") %></h5>
        <%= render partial: "comments/form", locals: {comment: @new_comment || @event.comments.build} %>
        <%= render partial: "comments/comment", collection: @event.comments.except(@new_comment) %>
      </div>

      <div class="col-md-4">
        <div class="event-owner">
          <h4><%= I18n.t("views.event.show.calling") %></h4>
          <% if @event.user.present? %>
              <a href="<%= user_path(@event.user) %>">
                <div class="user_avatar_box sm">
                  <img src="<%= user_avatar(@event.user) %>" class="img-thumbnail rounded-circle">
                </div>
              </a>

            <p>
              <a href="<%= user_path(@event.user) %>"><%= @event.user.name %></a>
            </p>
          <% end %>
        </div>

        <div class="event-subscriptions">
          <h4><%= I18n.t("views.event.show.will_go") %><%= @event.subscribers.count if @event.subscribers.count > 10 %></h4>
          <div>
            <p>
              <%= render partial: "subscriptions/subscription", collection: @event.subscriptions.except(@new_subscription).last(10) %>
            </p>
          </div>
        </div>

        <% unless current_user == @event.user %>
          <div class="event-subscription-form">
            <h4><%= I18n.t("views.event.show.i_will_go") %></h4>
            <%= render partial: "subscriptions/form", locals: {subscription: @new_subscription || @event.subscription.build} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
